name: Build

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - uses: malinskiy/action-android/install-sdk@release/0.1.6
      - run: mkdir -p allure-results
      - uses: malinskiy/action-android/emulator-run-cmd@release/0.1.6
        with:
          cmd: bash allure-results.sh
          api: 31
          tag: google_apis
          abi: x86_64
          disableAnimations: true
          bootTimeout: 900
          cmdOptions: -no-snapshot-save -noaudio -no-boot-anim -no-window -gpu swiftshader_indirect
      - uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: allure-results
          path: allure-results

  report:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Checkout gh-pages
        id: checkout_gh_pages
        uses: actions/checkout@v6
        with:
          ref: gh-pages
          path: gh-pages
        continue-on-error: true

      - name: Prepare gh-pages when branch is missing
        if: steps.checkout_gh_pages.outcome == 'failure'
        run: mkdir -p gh-pages

      - name: Download Allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: Build Allure report
        if: always()
        uses: simple-elf/allure-report-action@v1.13
        with:
          allure_results: allure-results
          allure_history: allure-history
          gh_pages: gh-pages

      - name: Publish report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history